.prev-menus article:hover{
    img, h2, p{
        transition: all ease-in 200ms;
        scale: 1;
        opacity: 1;
        transform: scale(1.15);
        opacity: 0.7;
    }
}

@keyframes soon{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);;
    }
}

.soon .point{
    @for $i from 1 to 4{
        &#{$i}{
            animation: soon 800ms ease-in-out infinite alternate;
            animation-delay: 100ms * $i;
        }
    }
}

@keyframes wiggle{
    25%{
        transform: perspective(1000px) rotateZ(-5deg);
    }
    75%{
        transform: perspective(1000px) rotateZ(5deg);
    }
}

footer a:hover{
    animation: wiggle 150ms ease-in-out 2;
}