html{
    
    background-color: $html-color;
}

body{
    margin: 0;
}

.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 61px;
    background-color: $container-color;
    position: relative;
}

#invisible{
    display: none;
}

a{
    text-decoration: none;
    color: inherit;
    :hover{
        cursor: pointer;;
    }
}

header, footer{
    color: $main-color;
    background-color: $main-bg-color;
}

header{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    h1{
        margin: 0;
        font-family: $logo-font;
        letter-spacing: -5px;
        font-size: 3em;
    }
}

footer{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    font-family: $main-font;
    position: fixed;
    bottom: 0;
    z-index: 2;
    a{
        margin-right: 2%;
        margin-left: 2%;
    }
    p{
        font-size: x-large;
        margin: 20px 0 20px 0;
    }
}

.menu{
    width: 70%;
    margin: 3% auto 3% auto;
    padding: 1%;
    text-align: center;
    @include menu-shadow;
    h2{
        font-weight: lighter;
        margin-bottom: 10%;
    }
    article{
        width: 90%;
        margin: 5% auto 5% auto;
        h3{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5%;
            font-size: larger;
            img{
                display: block;
                width: 33%;
            }
        }
        p{
            display: flex;
            justify-content: space-between;
            padding-left: 10%;
            padding-right: 10%;
            margin-top: 3%;
            margin-bottom: 3%;
            text-align: left;
            em{
                font-size: larger;
            }
        }
    }
    @include style-menu();
}



@media all and (max-width: 1299px){
    footer{
        left: 0;
        width: 100%;
    }

    .menu{
        width: 80%;
    }
}

@media all and (max-width: 1089px){
    .menu{
        width: 90%;
    }
}

@media all and (max-width: 969px){
    .menu{
        width: 100%;
    }
}

@media all and (max-width: 879px){
    .menu article{
        width: 95%;
        p{
            padding-left: 2%;
            padding-right: 2%;
        }
    }
}

@media all and (max-width: 726px){
    .menu{
        @include responsive-size;
        article h3 img{
        width: 27%;
        }
    }
}

@media all and (max-width: 537px){
    .menu article h3{
        font-size: medium;
    }
    footer p{
        font-size: small;
    }
}