@font-face{
    font-family: "montserrat";
    src: url(../ressources/fonts/montserrat-regular.ttf);
}

@font-face{
    font-family: "montserrat-semibold";
    src: url(../ressources/fonts/montserrat-semibold.ttf);
}