@font-face{
    font-family: "montserrat-semibold";
    src: url(../../ressources/fonts/montserrat-semibold.ttf);
}

@font-face{
    font-family: "montserrat-light";
    src: url(../../ressources/fonts/montserrat-light.ttf);
}

@font-face{
    font-family: "streetfreehand";
    src: url(../../ressources/fonts/streetfreehand.ttf);
}

@font-face{
    font-family: "devonshire";
    src: url(../../ressources/fonts/devonshire.ttf);
}

@font-face{
    font-family: "serif12beta";
    src: url(../../ressources/fonts/serif12beta.ttf);
}

@font-face{
    font-family: "croissantone";
    src: url(../../ressources/fonts/croissantone.ttf);
}

@font-face{
    font-family: "dancingscript";
    src: url(../../ressources/fonts/dancingscript.ttf);
}

@font-face{
    font-family: "segoeprint";
    src: url(../../ressources/fonts/segoeprint.ttf);
}

@font-face{
    font-family: "kaushanscript";
    src: url(../../ressources/fonts/kaushanscript.ttf);
}