.menus{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    a{

        width: 35%;
        height: 500px;
        margin-top: 5%;
    }
    article{
        height: 100%;
        box-shadow: 1px 1px 10px #c7c3c3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.menu{
    &1{
        @include style-prev-menu(1);
    }
    &2{
        @include style-prev-menu(2);
    }
    &3{
        @include style-prev-menu(3);
    }
    &4{
        @include style-prev-menu(4);
    }
}

.soon{
    display: flex;
    justify-content: center;
    color: $main-color;
    background-color: $main-bg-color;
    font-family: $main-font;
    width: 33%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    margin: 5% auto 5% auto;
    h3{
        margin: 0;
        font-size: xx-large;
    }
    div{
        align-self: flex-end;
        width: 5px;
        height: 5px;
        background: $main-color;
        border-radius: 50%;
        margin-left: 2%;
        margin-bottom: 4px;
    }
}