.menus{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    a{

        width: 35%;
        height: 500px;
        margin-top: 5%;
    }
    article{
        height: 100%;
        box-shadow: 1px 1px 10px #c7c3c3;
    }
    h2{
        margin-top: 0;
    }
}

.menu{
    &1{
        background-color: $bg-color-menu1;
    }
    &2{
        background-color: $bg-color-menu2;
    }
    &3{
        background-color: $bg-color-menu3;
    }
    &4{
        background-color: $bg-color-menu4;
    }
}

.soon{
    display: flex;
    justify-content: center;
    color: $main-color;
    background-color: $main-bg-color;
    font-family: $main-font;
    width: 250px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    margin: 5% auto 5% auto;
    h3{
        margin: 0;
        font-size: larger;
    }
    div{
        align-self: flex-end;
        width: 5px;
        height: 5px;
        background: $main-color;
        border-radius: 50%;
        margin-left: 2%;
        margin-bottom: 4px;
    }
}