$map-menus:(
    1:(
        bg-color : #fcdfdb,
        main-font : devonshire,
        font-p : segoeprint,
        color1 : black,
        color2 : black,
        color-p : black,
        title-size : 3em,
        subtitle-weight : bold,
        prev-title-size : 2.5em,
    ),
    2:(
        bg-color : #fef5fd,
        main-font : croissantone,
        font-p : serif12beta,
        color1 : #c67412,
        color2 : #945ef0,
        color-p : #c67412,
        title-size : 2.5em,
        subtitle-weight : bold,
        prev-title-size : 2em,
    ),
    3:(
        bg-color : #f9f9f9,
        main-font : dancingscript,
        font-p : segoeprint,
        color1 : #0328db,
        color2 : #229dfd,
        color-p : #229dfd,
        title-size : 4.5em,
        subtitle-weight : normal,
        prev-title-size : 2.5em,
    ),
    4:(
        bg-color : #fdfffd,
        main-font : kaushanscript,
        font-p : segoeprint,
        color1 : #499c40,
        color2 : #bbfd7e,
        color-p : #7ac75b,
        title-size : 4.5em,
        subtitle-weight : normal,
        prev-title-size : 2.5em,
    )
);