$map-prev-menus:(
    1:(
        bg-color : #fcdfdb,
        main-font : devonshire,
        font-p : segoeprint,
        color1 : black,
        color2 : black,
        color-p : black,
    ),
    2:(
        bg-color : #fef5fd,
        main-font : croissantone,
        font-p : serif12beta-bold,
        color1 : #c67412,
        color2 : #945ef0,
        color-p : #c67412,
    ),
    3:(
        bg-color : #f9f9f9,
        main-font : dancingscript,
        font-p : segoeprint,
        color1 : #0328db,
        color2 : #229dfd,
        color-p : #229dfd,
    ),
    4:(
        bg-color : #fdfffd,
        main-font : kaushanscript,
        font-p : segoeprint,
        color1 : #499c40,
        color2 : #bbfd7e,
        color-p : #7ac75b,
    )
);

/*$map-style-menus:(
    1:(

    )
    2:(

    )
    3:(

    )
    4:(

    )
)*/