@mixin menu-shadow{
    box-shadow: 1px 1px 10px #c7c3c3;
}

@mixin style-prev-menu (){
    @each $number, $style in $map-menus{
        &#{$number}{
            background-color: map-get($style, bg-color);
            h2{
                font-family: map-get($style, main-font);
                font-size: map-get($style, prev-title-size);
                font-weight: lighter;
                background: linear-gradient(170deg, map-get($style, color1) 30%, map-get($style, color2) 60%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0;
                width: 100%;
                z-index: 1;
                }
            p{
                font-family: map-get($style, font-p);
                font-size: 3em;
                color: map-get($style, color-p);
                font-weight: bold;
            }
        }
    }
}

@mixin style-menu (){
    @each $number, $style in $map-menus{
        &#{$number}{
            background-color: map-get($style, bg-color);
            h2{
                font-family: map-get($style, main-font);
                font-size: map-get($style, title-size);
                background: linear-gradient(170deg, map-get($style, color1) 30%, map-get($style, color2) 60%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                }
            h3{
                font-family: map-get($style, font-p);
                font-weight: map-get($style, subtitle-weight);
            }
            p{
                font-family: map-get($style, font-p);
            }
        }
    }
}

@mixin h4-menu1($number){
    $style: map-get($map-menus, $number);
    font-family: map-get($style, main-font);
}

@mixin color-menu2 ($number){
    $style: map-get($map-menus, $number);
    article{
        color: #a56799;
        h3 em::after{
            background-color: #a56799;
        }
    }
    article:first-of-type{
        color: map-get($style, color1);
        h3 em::after{
            background-color: map-get($style, color1);
        }
    }
    article:last-child{
        color: map-get($style, color2);
        h3 em::after{
            background-color: map-get($style, color2);
        }
    }
}

@mixin responsive-size (){
    @each $number, $style in $map-menus{
        &#{$number}{
            h2{
                font-size: map-get($style, responsive-size);
            }
        }
    }
}