$html-color : #ededed;
$container-color : #fff;
$main-color : #fcca46;
$main-bg-color : #569c87;

$main-font : montserrat-light;
$logo-font : montserrat-semibold;


$bg-color-menu1 : #fcdfdb;
$font-menu1 : devonshire;
$font-menu1-p : segoeprint;

$bg-color-menu2 : #fef5fd;
$font-menu2 : croissantone;
$font-menu2-p : serif12beta-bold;
$menu2-color1 : #c67412;
$menu2-color2 : #56e21d;
$menu2-color3 : #945ef0;

$bg-color-menu3 : #f9f9f9;
$font-menu3 : dancingscript;
$font-menu3-p : segoeprint;
$menu3-color1 : #0328db;
$menu3-color2 : #56e21d;
$menu3-color3 : #229dfd;

$bg-color-menu4 : #fdfffd;
$font-menu4 : kaushanscript;
$font-menu4-p : segoeprint;
$menu4-color1 : #499c40;
$menu4-color2 : #7ac75b;
$menu4-color3 : #bbfd7e;