$html-color : #ededed;
$container-color : #fff;
$main-color : #fcca46;
$main-bg-color : #569c87;

$bg-color-menu1 : #fcdfdb;

$bg-color-menu2 : #fef5fd;

$bg-color-menu3 : #f9f9f9;

$bg-color-menu4 : #fdfffd;

$main-font : montserrat-light;
$logo-font : montserrat-semibold;